body {
  background-color: #fff;
  margin: 0;
}
#contact {
  padding: 105px 0 25vw !important;
  position: relative;
  overflow: hidden;
  height: 400px;
}
#contact * {
  color: var(--color-fede-fv);
}
#contact .bg-vectors img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#contact .footer-masked {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 0;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center top;
  mask-position: center top;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
#contact .footer-masked.footer1 {
  -webkit-mask-image: url("assets/img/footer-1.svg");
  mask-image: url("assets/img/footer-1.svg");
}
#contact .footer-masked.footer2 {
  -webkit-mask-image: url("assets/img/footer-2.svg");
  mask-image: url("assets/img/footer-2.svg");
}
#contact .footer-masked.footer3 {
  -webkit-mask-image: url("assets/img/footer-3.svg");
  mask-image: url("assets/img/footer-3.svg");
}
#contact .footer-bottom-full {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 24vw;
  pointer-events: none;
  z-index: 9;
  background-color: #3a3a39;
  -webkit-mask-image: url("assets/img/footer_lets-build.svg");
  mask-image: url("assets/img/footer_lets-build.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left bottom;
  mask-position: left bottom;
  -webkit-mask-size: 100vw auto;
  mask-size: 100vw auto;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
}
#contact .footer-bottom-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  -webkit-mask-image: url("assets/img/footer-2-mask.svg");
  mask-image: url("assets/img/footer-2-mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left top;
  mask-position: left top;
  -webkit-mask-size: 100vw auto;
  mask-size: 100vw auto;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
}
#contact .footer-bottom-cut {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 24vw;
  pointer-events: none;
  background-color: #fea039;
  -webkit-mask-image: url("assets/img/footer_lets-build.svg");
  mask-image: url("assets/img/footer_lets-build.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left bottom;
  mask-position: left bottom;
  -webkit-mask-size: 100vw auto;
  mask-size: 100vw auto;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
}
#contact .footer-ink {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center bottom;
  mask-position: center bottom;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
#contact .footer-ink.footer1 {
  -webkit-mask-image: url("assets/img/footer-1.svg");
  mask-image: url("assets/img/footer-1.svg");
}
#contact .footer-ink.footer2 {
  -webkit-mask-image: url("assets/img/footer-2.svg");
  mask-image: url("assets/img/footer-2.svg");
}
#contact .footer-ink.footer3 {
  -webkit-mask-image: url("assets/img/footer-3.svg");
  mask-image: url("assets/img/footer-3.svg");
}
#contact .footer-probe {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  pointer-events: none;
}
#contact .footer-texture {
  position: absolute;
  inset: 0;
  background-repeat: repeat;
  background-position: center;
  background-size: 250px auto;
  pointer-events: none;
}
#contact .footer-texture.yellow {
  background-image: url("assets/img/noise-yellow.png");
}
#contact .footer-texture.orange {
  background-image: url("assets/img/noise-orange.png");
}
#contact h2.section-title {
  margin-bottom: 4px;
}
#contact .tt-row {
  -moz-column-gap: 224px;
  column-gap: 224px;
}
#contact .tt-col-md-6 {
  width: 417px;
  max-width: 417px;
  padding: 0;
}
#contact .tt-col-md-6,
#contact .tt-col-md-6 .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contact h3 {
  font-weight: 400;
  font-size: 38px;
  line-height: 90%;
  margin-bottom: 20px;
  margin-top: 60px;
}
#contact .fw-200 {
  margin-top: 2px;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
  margin-left: 0.5px;
  line-height: 22px;
}
#contact a {
  font-family: "PP Telegraf";
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
#contact .col a.btn {
  margin-bottom: 30px;
}
#contact .col a {
  margin-bottom: 10px;
}
#contact .col .socials {
  display: flex;
  flex-direction: row;
  gap: 0;
  transform: translateX(-16px);
  margin-bottom: 30px;
}
#contact .col .socials a {
  margin: 0;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  transition: all 0.35s ease-in-out;
}
#contact .col .socials a img {
  width: 32px;
}
#contact .col .socials a p {
  font-family: "PP Telegraf";
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
#contact .col .socials a * {
  transition: all 0.35s ease-in-out;
}
#contact .col .socials a:hover {
  transform: scale(0.8);
}
#contact .col .socials a:hover img,
#contact .col .socials a:hover p {
  -webkit-filter: invert(1) brightness(2);
  filter: invert(1) brightness(2);
}
#contact .col .socials a:hover img {
  width: 32px;
  margin-top: 12px;
}
#contact .col .socials a .circle {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: var(--color-fede-fv-00);
  z-index: -1;
  transform: scale(0.75);
  transition: all 0.35s ease-in-out;
}
#contact .col .socials a:hover .circle {
  background-color: var(--color-fede-fv);
  transform: scale(1.25);
}
