body {
  background-color: #fff;
  margin: 0;
}
footer {
  padding: 105px 0 5.5vw !important;
  position: relative;
  overflow: hidden;
  height: 400px;
}
footer * {
  color: var(--color-fede-fv);
}
footer .footer-masked {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 0;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center top;
  mask-position: center top;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
footer .footer-masked.footer1 {
  -webkit-mask-image: url("assets/img/footer2-1.svg");
  mask-image: url("assets/img/footer2-1.svg");
}
footer .footer-masked.footer2 {
  -webkit-mask-image: url("assets/img/footer2-2.svg");
  mask-image: url("assets/img/footer2-2.svg");
}
footer .footer-masked.footer3 {
  -webkit-mask-image: url("assets/img/footer2-3.svg");
  mask-image: url("assets/img/footer2-3.svg");
}
footer .footer-bottom-full {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 5.33vw;
  pointer-events: none;
  z-index: 9;
  background-color: #3a3a39;
  -webkit-mask-image: url("assets/img/footer2_lets-build.svg");
  mask-image: url("assets/img/footer2_lets-build.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left bottom;
  mask-position: left bottom;
  -webkit-mask-size: 100vw auto;
  mask-size: 100vw auto;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
}
footer .footer-bottom-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  -webkit-mask-image: url("assets/img/footer2-mask.svg");
  mask-image: url("assets/img/footer2-mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left top;
  mask-position: left top;
  -webkit-mask-size: 100vw auto;
  mask-size: 100vw auto;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
}
footer .footer-bottom-cut {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 5.33vw;
  pointer-events: none;
  background-color: #fea039;
  -webkit-mask-image: url("assets/img/footer2_lets-build.svg");
  mask-image: url("assets/img/footer2_lets-build.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left bottom;
  mask-position: left bottom;
  -webkit-mask-size: 100vw auto;
  mask-size: 100vw auto;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
}
footer .footer-ink {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center bottom;
  mask-position: center bottom;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
footer .footer-ink.footer1 {
  -webkit-mask-image: url("assets/img/footer2-1.svg");
  mask-image: url("assets/img/footer2-1.svg");
}
footer .footer-ink.footer2 {
  -webkit-mask-image: url("assets/img/footer2-2.svg");
  mask-image: url("assets/img/footer2-2.svg");
}
footer .footer-ink.footer3 {
  -webkit-mask-image: url("assets/img/footer2-3.svg");
  mask-image: url("assets/img/footer2-3.svg");
}
footer .footer-probe {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  pointer-events: none;
}
footer .footer-texture {
  position: absolute;
  inset: 0;
  background-repeat: repeat;
  background-position: center;
  background-size: 250px auto;
  pointer-events: none;
}
footer .footer-texture.yellow {
  background-image: url("assets/img/noise-yellow.png");
}
footer .footer-texture.orange {
  background-image: url("assets/img/noise-orange.png");
}
