/* FOOTER */
body.work footer * {
  font-size: 16px;
}
body.work footer h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 90%;
  margin-bottom: 32px;
}
body.work footer div a:last-child {
  margin-top: 4px;
}
body.work footer .btn {
  color: var(--color-fede-fv);
  width: 341px;
  margin-bottom: 36px;
  background-image: url(../img/talk-buttons.png);
}
body.work footer .btn:hover {
  background: var(--color-fede-fv);
  color: var(--color-fede-white);
  border-radius: 10px;
}
body.work footer .talk-section {
  text-align: center;
}
body.work footer .talk-section:last-child {
  margin: 45px auto;
}
body.work footer .talk-section:last-child h3 {
  margin-bottom: 20px;
}
body.work footer .talk-section .socials {
  justify-content: center;
}
body.work footer .talk-section .socials a:hover img {
  filter: grayscale(1) brightness(5);
}
body.work footer .talk-section .socials a:hover p {
  color: #fff;
}
body.work footer .talk-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 0;
  justify-content: center;
}
body.work footer .talk-buttons .btn {
  margin-top: unset !important;
}
