/** WORK PROJECTS **/
#content-wrap.work .work-title {
   max-width: 500px;
   margin: 0 auto;
}
#content-wrap.work .work-title * {
   color: var(--color-fede-fv);
}
#content-wrap.work .work-title h3 {
   font-size: 35px;
   font-weight: 800;
   line-height: 48px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 5px;
}
#content-wrap.work .work-title p.order {
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 1em;
}
#content-wrap.work .work-title p.desc {
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   text-align: center;
   letter-spacing: 0.02em;
}

.scroll {
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
   z-index: 111;
   margin: 65px 0 0;
}
.scroll .arrow {
   display: flex;
   justify-content: center;
   align-items: center;
}
.scroll .arrow .scroll-arrow {
   position: absolute;
   margin-top: 2px;
   transform: translateY(0px);
   transition: all 0.2s ease-in-out;
}
.scroll p {
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: 0.2px;
   margin-top: 4px;
   margin-bottom: 0;
   transform: translateY(0px);
   transition: all 0.2s ease-in-out;
}

.scroll:hover .arrow .scroll-arrow,
.scroll:hover p {
   transform: translateY(5px);
   transition: all 0.2s ease-in-out;
}

#details {
   padding-top: 115px;
}

.talk {
   margin: 130px auto 105px;
}

.talk * {
   color: var(--color-fede-fv);
   font-size: 16px;
}
.talk h3 {
   font-size: 32px;
   font-weight: 400;
   font-size: 32px;
   line-height: 90%;
}
.talk .btn {
   width: 417px;
   margin-bottom: 36px;
}
.talk div a:last-child {
   margin-top: 4px;
}

/* WORK */
body.work .tt-wrap {
   display: flex;
   flex-direction: column;
}

body.work .tt-wrap .tt-col-md-12 {
   display: flex;
   flex-direction: column;
   align-items: center;
}

body.work .tt-wrap .tt-col-md-6 {
   display: flex;
   flex-direction: column;
   padding: 0;
   row-gap: 30px;
}
body.work .tt-wrap .tt-col-md-6:first-child {
   align-items: flex-end;
}
body.work .tt-wrap .tt-col-md-6:last-child {
   align-items: flex-start;
}

body.work .tt-wrap .tt-col-md-6 img {
   max-width: 580px;
   height: -webkit-fit-content;
   height: -moz-fit-content;
   height: fit-content;
   padding: 0 40px;
}

body.work img.mob {
   position: absolute;
   width: 286px !important;
   z-index: 11;
}
body.work img.ipad {
   position: absolute;
   width: 504px !important;
   z-index: 11;
}

img.full-min {
   max-width: 1080px;
}
img.full-pad {
   padding: 0;
}
img.full-pad-left {
   padding-left: 0;
}
img.full-pad-right {
   padding-right: 0;
}

/* FROG BAZAR */
body.work.frogbazar .tt-wrap .tt-col-md-6:last-child img:nth-child(3) {
   max-width: 750px;
   padding-left: 0;
   margin-left: -40px;
}

body.work.frogbazar img.mob.mob1 {
   right: -8%;
   top: -3%;
}
body.work.frogbazar img.mob.mob2 {
   left: -7.5%;
   top: 35%;
}
body.work.frogbazar img.mob.mob3 {
   right: -8%;
   top: 12.5%;
}
body.work.frogbazar img.mob.mob4 {
   right: -9%;
   top: 44%;
}

/* ESTUDIO 32 */
body.work.estudio32 .tt-wrap #details {
   margin-bottom: 24px;
}
body.work.estudio32 .tt-wrap #details img {
   max-height: 1823px;
}
body.work.estudio32 .tt-wrap .tt-col-md-6:last-child img:nth-child(1) {
   padding-left: 0;
   padding-right: 0;
   max-width: unset;
   margin-left: -44px;
}

/* OPAME */
body.work.opame #details {
   margin-bottom: 45px;
}
body.work.opame img.mob {
   width: 260px !important;
}
body.work.opame img.mob.mob1 {
   right: -13%;
   top: -3.5%;
}
body.work.opame img.mob.mob2 {
   left: -2.5%;
   top: 26%;
}
body.work.opame img.mob.mob3 {
   left: -14%;
   top: 18.8%;
}
body.work.opame img.mob.mob4 {
   right: -2%;
   top: 57.2%;
}

/* NMP */
body.work.nmp #details {
   margin-bottom: 45px;
}
body.work.nmp img.mob {
   width: 280px !important;
}

body.work.nmp img.mob.mob1 {
   right: -11%;
   top: 14.7%;
}
body.work.nmp img.mob.mob2 {
   left: 0;
   top: 33.7%;
}
body.work.nmp img.mob.mob3 {
   right: -2%;
   top: 25.5%;
}
body.work.nmp img.mob.mob4 {
   right: -8%;
   top: 62.2%;
}
body.work.nmp img.ipad.ipad1 {
   left: 5%;
   top: 15.2%;
}
body.work.nmp img.ipad.ipad2 {
   right: -64.4px;
   top: 33.8%;
}

/* CLEO */
body.work.cleo #details {
   margin-bottom: 45px;
}
body.work.cleo img.mob.mob1 {
   left: 16%;
   top: -2%;
   width: 549px !important;
}
body.work.cleo img.mob.mob2 {
   left: 20.8%;
   bottom: -11%;
   width: 466px !important;
}
body.work.cleo img.mob.mob3 {
   right: 4%;
   top: 30%;
   width: 511px !important;
}
body.work.cleo img.mob.mob4 {
   left: -9%;
   top: 55.2%;
   width: 511px !important;
}

/* MICHI */
body.work.michi #details {
   margin-bottom: 130px;
}
body.work.michi img.mob {
   width: 278px !important;
}
body.work.michi img.mob.mob0 {
   right: -3.2%;
   top: 7.25%;
   width: 160px !important;
}
body.work.michi img.mob.mob1 {
   left: 3%;
   top: 40.5%;
   width: 270px !important;
}
body.work.michi img.mob.misc {
   right: 36.2%;
   bottom: -12.5%;
   width: 446px !important;
}
