/** WORK PROJECTS **/
#content-wrap.work .work-title {
   max-width: 500px;
   margin: 0 auto;
}
#content-wrap.work .work-title * {
   color: var(--color-fede-fv);
}
#content-wrap.work .work-title h1 {
   font-weight: 800;
   font-size: 120px;
   line-height: 164px;
   text-transform: uppercase;
   margin-bottom: 8px;
}
#content-wrap.work .work-title h3 {
   font-size: 35px;
   font-weight: 800;
   line-height: 48px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 5px;
}
#content-wrap.work h5 {
   font-size: 38px;
   font-weight: 400;
   line-height: 90%;
   text-align: left;
   text-transform: inherit;
   margin-bottom: 15px;
   color: var(--color-fede-fv);
}
#content-wrap.work .work-title p.order {
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 1em;
}
#content-wrap.work .work-title p.desc {
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   text-align: center;
   letter-spacing: 0.02em;
}

.scroll {
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
   z-index: 111;
   margin: 65px 0 0;
}
.scroll .arrow {
   display: flex;
   justify-content: center;
   align-items: center;
}
.scroll .arrow .scroll-arrow {
   position: absolute;
   margin-top: 2px;
   transform: translateY(0px);
   transition: all 0.2s ease-in-out;
}
.scroll p {
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: 0.2px;
   margin-top: 4px;
   margin-bottom: 0;
   transform: translateY(0px);
   transition: all 0.2s ease-in-out;
}

.scroll:hover .arrow .scroll-arrow,
.scroll:hover p {
   transform: translateY(5px);
   transition: all 0.2s ease-in-out;
}

#details {
   padding-top: 115px;
}

.talk {
   margin: 130px auto 105px;
}

.talk * {
   color: var(--color-fede-fv);
   font-size: 16px;
   align-items: center !important;
}
.talk h3 {
   font-size: 32px;
   font-weight: 400;
   font-size: 32px;
   line-height: 90%;
}
.talk .btn {
   width: 417px;
   margin-bottom: 36px;
}
.talk div a:last-child {
   margin-top: 4px;
}

/* WORK */
body.work .tt-wrap {
   display: flex;
   flex-direction: column;
}

body.work .tt-wrap .tt-col-md-12 {
   display: flex;
   flex-direction: column;
   align-items: center;
}

body.work .tt-wrap .tt-col-md-6 {
   display: flex;
   flex-direction: column;
   padding: 0;
   row-gap: 30px;
}
body.work .tt-wrap .tt-col-md-6:first-child {
   align-items: flex-end;
}
body.work .tt-wrap .tt-col-md-6:last-child {
   align-items: flex-start;
}

body.work .tt-wrap .tt-col-md-6 img {
   max-width: 580px;
   height: -webkit-fit-content;
   height: -moz-fit-content;
   height: fit-content;
   padding: 0 40px;
}

body.work img.mob {
   position: absolute;
   width: 286px !important;
   z-index: 11;
}
body.work img.ipad {
   position: absolute;
   width: 504px !important;
   z-index: 11;
}

img.full-min {
   max-width: 1080px;
}
img.full-pad {
   padding: 0;
}
img.full-pad-left {
   padding-left: 0;
}
img.full-pad-right {
   padding-right: 0;
}

/* FROG BAZAR */
body.work.frogbazar .tt-wrap .tt-col-md-6:last-child img:nth-child(3) {
   max-width: 750px;
   padding-left: 0;
   margin-left: -40px;
}

body.work.frogbazar img.mob.mob1 {
   right: -8%;
   top: -3%;
}
body.work.frogbazar img.mob.mob2 {
   left: -7.5%;
   top: 35%;
}
body.work.frogbazar img.mob.mob3 {
   right: -8%;
   top: 12.5%;
}
body.work.frogbazar img.mob.mob4 {
   right: -9%;
   top: 44%;
}

/* ESTUDIO 32 */
body.work.estudio32 .tt-wrap #details {
   margin-bottom: 24px;
}
body.work.estudio32 .tt-wrap #details img {
   max-height: 1823px;
}
body.work.estudio32 .tt-wrap .tt-col-md-6:last-child img:nth-child(1) {
   padding-left: 0;
   padding-right: 0;
   max-width: unset;
   margin-left: -44px;
}

/* OPAME */
body.work.opame #details {
   margin-bottom: 45px;
}
body.work.opame img.mob {
   width: 260px !important;
}
body.work.opame img.mob.mob1 {
   right: -13%;
   top: -3.5%;
}
body.work.opame img.mob.mob2 {
   left: -2.5%;
   top: 26%;
}
body.work.opame img.mob.mob3 {
   left: -14%;
   top: 18.8%;
}
body.work.opame img.mob.mob4 {
   right: -2%;
   top: 57.2%;
}

/* NMP */
body.work.nmp #details {
   margin-bottom: 45px;
}
body.work.nmp img.mob {
   width: 280px !important;
}

body.work.nmp img.mob.mob1 {
   right: -11%;
   top: 14.7%;
}
body.work.nmp img.mob.mob2 {
   left: 0;
   top: 33.7%;
}
body.work.nmp img.mob.mob3 {
   right: -2%;
   top: 25.5%;
}
body.work.nmp img.mob.mob4 {
   right: -8%;
   top: 62.2%;
}
body.work.nmp img.ipad.ipad1 {
   left: 5%;
   top: 15.2%;
}
body.work.nmp img.ipad.ipad2 {
   right: -64.4px;
   top: 33.8%;
}

/* CLEO */
body.work.cleo #details {
   margin-bottom: 45px;
}
body.work.cleo img.mob.mob1 {
   left: 16%;
   top: -2%;
   width: 549px !important;
}
body.work.cleo img.mob.mob2 {
   left: 20.8%;
   bottom: -11%;
   width: 466px !important;
}
body.work.cleo img.mob.mob3 {
   right: 4%;
   top: 30%;
   width: 511px !important;
}
body.work.cleo img.mob.mob4 {
   left: -9%;
   top: 55.2%;
   width: 511px !important;
}

/* MICHI */
body.work.michi #details {
   margin-bottom: 130px;
}
body.work.michi img.mob {
   width: 278px !important;
}
body.work.michi img.mob.mob0 {
   right: -3.2%;
   top: 7.25%;
   width: 160px !important;
}
body.work.michi img.mob.mob1 {
   left: 3%;
   top: 40.5%;
   width: 270px !important;
}
body.work.michi img.mob.misc {
   right: 36.2%;
   bottom: -12.5%;
   width: 446px !important;
}

/* BROKE */
body.work.broke .tt-wrap .tt-col-md-6:first-child img:nth-child(1) {
   max-width: unset;
   width: 564px;
   padding-left: 0;
   padding-right: 16px;
}
body.work.broke img.mob.mob1 {
   left: -6%;
   top: 29%;
}
body.work.broke .tt-wrap .tt-col-md-6:last-child img:nth-child(1) {
   max-width: unset;
   width: 315px;
   margin: 0 auto;
   padding: 0;
   transform: translateX(-45px);
}
body.work.broke img.mob.ipad {
   max-width: unset;
   width: 664px !important;
   left: -9%;
   top: 30.8%;
}
body.work.broke img.mob.mob2 {
   max-width: unset;
   width: 280px !important;
   right: -6%;
   top: 23.5%;
}
body.work.broke img.mob.square-1 {
   max-width: unset;
   width: 654px !important;
   left: -4.8%;
   top: 52.3%;
}
body.work.broke img.mob.square-2 {
   max-width: unset;
   width: 508px !important;
   left: 5.5%;
   bottom: -0.3%;
}
body.work.broke .tt-section-inner .tt-row:nth-child(3) .tt-col-md-12 img:nth-child(1) {
   margin: 58px 0 63px;
   max-width: 858px;
}

/* LOGOFOLIO */
body.tt-boxed.work.logofolio .tt-wrap {
   max-width: 1160px;
   display: flex;
   flex-direction: column;
   row-gap: 250px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-col-md-6,
body.tt-boxed.work.logofolio .tt-wrap .tt-col-md-6:first-child,
body.tt-boxed.work.logofolio .tt-wrap .tt-col-md-6:last-child {
   display: flex;
   align-items: center;
   justify-content: center;
}
body.work.logofolio #content-wrap.work .work-title {
   max-width: unset;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min {
   margin-top: 17px;
   margin-bottom: -230px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 {
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 90px 7%;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min img {
   width: 11%;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(1) {
   width: 124px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(2) {
   width: 134px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(3) {
   width: 112px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(4) {
   width: 118px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(5) {
   width: 142px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(6) {
   width: 138px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(7) {
   width: 110px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(8) {
   width: 146px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(9) {
   width: 103px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(10) {
   width: 94px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(11) {
   width: 149px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(12) {
   width: 170px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(13) {
   width: 139px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(14) {
   width: 148px;
}
body.tt-boxed.work.logofolio .tt-wrap .tt-row.logo-min .tt-col-md-12 img:nth-child(15) {
   width: 135px;
}

/* UI/UX */
body.tt-boxed.work.ui-ux .tt-wrap {
   width: 1080px;
}
body.tt-boxed.work.ui-ux .tt-wrap .tt-row {
   -moz-column-gap: 100px;
   column-gap: 100px;
}
body.tt-boxed.work.ui-ux .tt-wrap .tt-row:nth-child(1) {
   margin-bottom: 140px;
}
body.tt-boxed.work.ui-ux .tt-wrap .tt-col-md-6,
body.tt-boxed.work.ui-ux .tt-wrap .tt-col-md-6:first-child,
body.tt-boxed.work.ui-ux .tt-wrap .tt-col-md-6:last-child {
   align-items: flex-start;
   justify-content: space-between;
   flex-direction: column;
   gap: unset;
   max-width: 490px;
}
body.tt-boxed.work.ui-ux .mobs-details {
   flex-direction: column;
}
body.tt-boxed.work.ui-ux p.desc {
   line-height: 22px;
}
body.tt-boxed.work.ui-ux .mobs {
   width: 100%;
   margin-left: -60px;
}
body.tt-boxed.work.ui-ux .mobs img {
   width: 100%;
   position: absolute;
   padding-left: 0;
   padding-right: 16px;
}
body.tt-boxed.work.ui-ux .mobs .base {
   width: 100%;
   position: relative;
}

body.tt-boxed.work.ui-ux .tt-wrap .tt-col-md-12 {
   align-items: flex-start;
}
body.tt-boxed.work.ui-ux .tt-wrap .tt-col-md-12 .mobs-details {
   max-width: 560px;
   margin-left: 195px;
}
body.tt-boxed.work.ui-ux .tt-wrap .tt-col-md-12 .mobs {
   margin-left: 0;
}
body.tt-boxed.work.ui-ux .tt-wrap .tt-col-md-12 .mobs img {
   width: 811px;
   position: relative;
   padding-left: 0;
   padding-right: 0;
}
body.tt-boxed.work.ui-ux .tt-wrap .tt-col-md-12 .mobs img:nth-child(1) {
   margin-left: -7%;
   margin-top: -2%;
}
body.tt-boxed.work.ui-ux .tt-wrap .tt-col-md-12 .mobs img:nth-child(2) {
   margin-left: 26%;
   margin-top: -52%;
}
body.tt-boxed.work.ui-ux .tt-wrap .tt-col-md-12 .mobs img:nth-child(3) {
   margin-left: -28%;
   margin-top: -45%;
}
body.tt-boxed.work.ui-ux .tt-wrap .talk {
   margin-top: -35px;
}
